@import "../../styles/variables";

.ant-modal-content, .ant-modal-header{
  background: $light-purple;
  width: 300px;
}
.ant-modal-close-x{
  width: 52px;
  height: 52px;
  background: $purple;
  border-radius: 5px;
  border: none;
  transition: 1s ease;
  &:hover{
    background: $light;
  }
}
p{
  font-size: 16px;
}
.ant-modal-footer{
  button{
    background: $purple;
    border-radius: 5px;
    transition: 1s ease;
    color: black;
    border:  none;
    &:hover{
      background: $light;
      color: black;
      box-shadow: 0 0 5px $purple;
    }
  }
}